.manage-booking-form{ padding: 8px 15px;
  border: 5px solid #010a13;
  width: 100%;
  text-align: center;
  background-color:cornsilk;
  }

.box__item {
  padding: 5px;
  border-radius: 5px;
  margin:100px;
  
}
.box__items {
  background-color: #e6c3be;
  padding: 5px;
  border-radius: 5px;
  margin:50px;
  
}
.idbox{
  border:5%;
}

.box__item-info span i {
  color: #c826f9;
  font-size: 1.1rem;
}

.box__item-btn {
  border-radius: 0;
  border: none;
  outline: none;
  padding: 8px 0px;
  
}

.box__btn-cancel {
  background: #5b26f9;
  border-radius: 0px 4px 4px 0px;
  color: #fff;
 
}

.box__btn-view {
  background: #c826f9;
  border-radius: 4px 0px 0px 4px;
  color: #fff;
}

.error-message{
  color:red;
}
.box__item-content h4 {
  font-size: 1.8rem;
}

.box__item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .box__item h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .box__item h6 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .box__item-info {
    flex-wrap: wrap;
  }

  .box__item-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .box__item-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .box__item h4 {
    font-size: 1rem;
  }

  .box__item h6 {
    font-size: 0.9rem;
  }

  .box__item-info span {
    font-size: 0.7rem;
  }

  .box__item-info span i {
    font-size: 0.9rem;
  }

  .box__item-btn {
    font-size: 0.8rem;
  }
}
