/* Card.css */
.hotel-card {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1024px;
    display: flex;
    gap: 1px;
    object-fit: cover;
    font-size:15px;
  }
  
  .head-hotel{
    font-weight: bold;
  }
  
  .button-hotel {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button-hotel:hover {
    background-color: #0056b3;
  }
  