.bannercontainer {
    display: flex;
    flex-direction: column;
}

.secondcontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5%;
}


.bannercontainer .secondcontainer .left,
.bannercontainer .secondcontainer .right {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    min-height: 10rem;
}

@media (max-width: 800px) {
    .secondcontainer {
        margin-left: 1%;
    }
}