.booking-cards {
    margin: 50px 10px;
    gap: 20px;
}

.your-bookings button {
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}

.your-bookings {
    margin: 10px;
    padding: 10px;
}

.orderscontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    border: 3px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #e6c3be;
    right: 10;
    margin-bottom: 20px;
}

.booking-cards table {
    width: 100%;
}

.booking-cards .btn {
    border-radius: 10px;
    width: 100%;
    height: 50px;
    border: none;
    font-weight: 500;
    color: #d96657;
    display: flex;
    justify-content: center;
    align-items: center;
}

#view-manage {
    flex: 1;
    display: none;
}

.booking-cards th {
    font-weight: 100;
    font-size: 14px;
}

.booking-cards td {
    font-weight: 500;
}

.details-button {
    gap: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.booking-cards ul li {
    list-style-type: none;
    float: left;
    margin-top: 25px;
    margin-right: 50px;
}

.view-flight button,
.view-car button,
.view-hotels button {
    margin-top: 30px;
}

.view-car table {
    margin-top: 20px;
}

.view-hotels table {
    margin-top: 20px;
}

.booking-cards a {
    text-decoration: none;
    color: #d96657;
}

@media (max-width: 990px) {

    .orderscontainer {
        padding: 20px;
        display: flex;
    }

    .booking-cards h4 {
        font-size: 20px;
    }

    .booking-cards p {
        font-size: 14px;
    }

}

@media (max-width: 767px) {
    .orderscontainer {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .booking-cards h5 {
        font-size: 18px;
    }

    .booking-cards p {
        font-size: 12px;
    }

    .booking-cards th {
        font-size: 12.5px;
    }

    .details-button {
        display: flex;
        flex-direction: column;
    }

    .booking-cards ul li {
        width: 100%;
    }

    .view-car ul li {
        font-size: 12px;
    }

}