.navbar {
    display: block;
}

.navbar-brand {
    margin-right: 2rem;
}

a.nav-icon.nav-link, a.nav-link {
    color: azure;
}

.nav-icon {
    margin-right: 2rem;
}

@media screen and (max-width:768px) {
    .seperator {
        display: none;
    }
}