.bannercontainer {
    display: flex;
    flex-direction: column;
}

.secondcontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3rem;
}


.bannercontainer .secondcontainer .left,
.bannercontainer .secondcontainer .right {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    min-height: 10rem;
}