.outercontainer {
    display: flex;
    flex-direction: column;
}

/* .container {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    /* margin-top: 10vh; */

} */

.outercontainer .container .left {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    min-height: 50vh;
}

.outercontainer .container .right {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    min-height: 50vh;
}